body{
	background-color: #f2f2f2;
}
.menu li{
	display: inline-block;
	padding: 2px 8px;
	background-color: #212121;
	color: #ffffff;
}
.menu li a{
	text-decoration: none;
	color: #ffffff;
}
.menu li:hover{
	background-color: #7d6242;

}
.NewsRubric{
	border: 2px solid #7d6242;
	color: #000000;
}
.NewsRubric a{
	color: #000000;
}
.NewsSource a{
	color:#b98c57;
}
.NewsItem{
	outline: 3px solid #7d6242;
}
.NewsItem a{
	color:#000000;
	text-decoration: none;
}
.NewsItem a:hover{
	color:#333333;
}
.pagination {
	color:#777777
	display: inline-block;
}
.pagination a{
	color:#009900;
	border: 1px solid #ddd;
}
.pagination a:hover{
	background-color: #ddd;
}
